<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AppInsightsKey" value="b70cb882-30a8-4cf2-a525-079884c7c9e1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>
